@{
        ViewBag.Title = "Start Page";
    }

    <div class="jumbotron">
        <h1>Sales statistics</h1>
        <p class="lead">Powered by ASP.NET c# - Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more for ASP.NET &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                The application reads sales data from the database and displays them in a form convenient for analysis.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Filters</h2>
            <p>Implemented the ability to filter by all properties for each of the entities.</p>
        </div>
        <div class="col-md-4">
            <h2>Authentication</h2>
            <p>There is user authentication.</p>
        </div>
    </div>
