@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Sales statistics display system.
</p>

<p>
    SSDS
</p>

<p>
    Developer: Haidzel Irina Ivanovna.
</p>
