
@using DevExtreme.AspNet.Mvc

@model IEnumerable<BLL.Contact>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts List</h2>

<script src="https://unpkg.com/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>

@(Html.DevExtreme().DataGrid<BLL.Contact>()
                .ID("gridContainerContacts")

                .DataSource(d => d.Mvc().Controller("ContactsMVC").Key("Id")
                                .LoadAction("Get")
                                .InsertAction("Post")
                                .UpdateAction("Put")
                                .DeleteAction("Delete"))

                .ShowBorders(true)

                .Selection(s => s.Mode(SelectionMode.Single))

                .Editing(e => e
                    .Mode(GridEditMode.Batch)
                    .AllowAdding(true)
                    .AllowDeleting(true)
                    .AllowUpdating(true)
                )

                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(240)
                    .Placeholder("Search...")
                )

                .Paging(p => p.PageSize(10))

                .Pager(p => p
                    .ShowPageSizeSelector(true)
                    .AllowedPageSizes(new[] { 10, 25, 50, 100 })
                )

                .HeaderFilter(headerFilter => headerFilter.Visible(true))

                  .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                )

                .FilterPanel(filterPanel => filterPanel.Visible(true))

                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .ShowBorders(true)
                .ColumnChooser(c => c.Enabled(true))
                .ColumnFixing(c => c.Enabled(true))

                .Columns(columns =>
                {
                    columns.AddFor(m => m.FirstName);
                    columns.AddFor(m => m.MiddleName);
                    columns.AddFor(m => m.LastName);
                    columns.AddFor(m => m.Phone)
                    .Caption("Mobile Phone");
                    columns.AddFor(m => m.Email);
                })


        //    .DataSource(d => d.WebApi()
        //.RouteName("DataGridWebApi")
        //.LoadAction("Orders")
        //.InsertAction("InsertOrder")
        //.UpdateAction("UpdateOrder")
        //.DeleteAction("DeleteOrder")
        //.Key("OrderID")
        //.OnBeforeSend("beforeSend")
)
