@using DevExtreme.AspNet.Mvc

@model IEnumerable<Task5.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products List</h2>

@(Html.DevExtreme().DataGrid<Task5.Models.Product>()
    .ID("gridContainerProducts")

    .DataSource(Model)

    .ShowBorders(true)

    .Selection(s => s.Mode(SelectionMode.Single))

    .Editing(e => e
        .Mode(GridEditMode.Form)
        .AllowAdding(true)
        .AllowDeleting(true)
        .AllowUpdating(true)
    )

    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
    )

    .Paging(p => p.PageSize(10))

    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 10, 25, 50, 100 })
    )

    .HeaderFilter(headerFilter => headerFilter.Visible(true))

        .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )

    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .ColumnAutoWidth(true)
    .ShowBorders(true)
    .ColumnChooser(c => c.Enabled(true))
    .ColumnFixing(c => c.Enabled(true))

    .Columns(columns =>
    {
        columns.AddFor(m => m.Name);
        columns.AddFor(m => m.Price);
    })
)

