@using DevExtreme.AspNet.Mvc

@model IEnumerable<Client>

@{
    ViewBag.Title = "Cliens";
}

<h2>Clients List</h2>

@(Html.DevExtreme().DataGrid<Client>()
                .ID("gridContainerClients")

                .DataSource(Model)

                .ShowBorders(true)

                .Selection(s => s.Mode(SelectionMode.Single))

                .Editing(e => e
                    .Mode(GridEditMode.Form)
                    .AllowAdding(true)
                    .AllowDeleting(true)
                    .AllowUpdating(true)
                )

                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(240)
                    .Placeholder("Search...")
                )

                .Paging(p => p.PageSize(10))

                .Pager(p => p
                    .ShowPageSizeSelector(true)
                    .AllowedPageSizes(new[] { 10, 25, 50, 100 })
                )

                .HeaderFilter(headerFilter => headerFilter.Visible(true))

                  .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                )

                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .ShowBorders(true)
                .ColumnChooser(c => c.Enabled(true))
                .ColumnFixing(c => c.Enabled(true))

                .Columns(columns =>
                {
                    columns.Add()
                    .Caption("Contacts")
                    .Width(230)
                    .Fixed(true);
                    //columns.AddFor(m => m.Contact.FirstName);
                    columns.AddFor(m => m.Name);
                })
)
